/* Головний контейнер */
.container {
    // width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    /* align-items: baseline; */
    /* outline: 2px solid palevioletred; */
}

@media screen and (min-width: 480px) {
    .container {
        width: 480px;
    }
}

@media screen and (min-width: 768px) {
    .container {
            max-width: 768px;
        }
}

@media screen and (min-width: 1200px) {
    .container {
            max-width: 1200px;
        }
}

.container-flex {
    // display: flex;
    align-items: baseline; 
}

 .page-section {
    background-color: var(--primary-white-color);
     padding-top: 60px;
     padding-bottom: 60px;
 }

 .page {
    display: none;
     padding-top: 0;
 }

//  @media screen and (min-width: 480px) {
//     .page {
//          display: none;
//      }
//  }