/* Головний контейнер */
.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    /* align-items: baseline; */
    /* outline: 2px solid palevioletred; */
}

.container-flex {
    display: flex;
    align-items: baseline;
}