.section-portfolio__works {
    /* margin: -15px; */
    // display: flex;
    flex-wrap: wrap;
    gap: 30px;
    .navigation__item {
            margin-bottom: 4px;
    
            color: var(--primary-text-color);
      @include font(18px, 2, 700, 0.06em);
        }
   .portfolio-team__text {
       color: var(--title-text-color);
       font-size: 16px;
       line-height: 1.87;
       letter-spacing: 0.03em;
    }
}
.section-portfolio__link-box {
    display: block;
    text-decoration: none;
    transition-property: box-shadow;
}

// .section-portfolio__image {
//     flex-basis: calc((100% - 60px) / 3);
//     /* max-width: 370px; */
//     margin-right: 30px;
//     margin-bottom: 30px;
// }

// .section-portfolio__image:nth-child(3n) {
//     margin-right: 0;
//     &:nth-last-child(-n + 3) {
//             margin-bottom: 0;
//         }
// }
.section-portfolio__link-hover:hover .product-box__text,
.section-portfolio__link-hover:focus .product-box__text {
    transform: translateY(0%);
}

.product-thumb {
    position: relative;
    overflow: hidden;
    /* display: flex; */
    /* outline: 5px solid palevioletred; */
}

.product-box__text {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    top: 0;
    left: 0;
@include font(18px, 1.6, null, 0.03em);
    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(101%);
    transition-duration: 1250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* overflow: auto; */
}

.portfolio-team {
    width: 100%;
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: 0;
}

.section-portfolio__link-hover:hover,
.section-portfolio__link-hover:focus {
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}