:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --accent-black-color: #000000;
    --accent-hover-color: #188CE8;
    --background-darker-than-white: #F5F4FA;
    --background-very-gray: #2F303A;
    --background-portfolio: #E5E5E5;
    --background-image-portfolio: #EEEEEE;
    --transition-property: color;
    --transition-property: background-color;
    /* --transition: color var(--transition-time) var(--cubic-function); */
    /* box-shadow var(--transition-time) var(--cubic-function);
    background-color var(--transition-time) var(--cubic-function); */
}
/* Основний колір #212121 */
/* Вторинний колір #757575 */
/* Акцент 1 #2196F3 */
/* Акцент 2 білий колір #ffffff */
/* Акцент 3 чорний колір #000000 */
/* фон для хутера #188CE8 */
/* фон для секції 4 */
/* фон для футера #2F303A */
/* фон секції портфоліо  #E5E5E5 */
/* фон карток портфоліо #EEEEEE */