/*---------------- Модальне вiкно -----------------*/
.backdrop {
    position: fixed;
    top: 0;
    // height: 1024px;
    // width: 100vw;
    // height: 100vh;
    height: 100%;
        width: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}

.backdrop .is-hidden {
  transition: opacity var(--accent-hover-color);
}