/*----------------- Сукція 5 ------------------*/
.page-coworker {
    padding-top: 94px;
    padding-bottom: 94px;
}

        .section__title {
            margin-bottom: 50px;
    
            color: var(--primary-text-color);
            @include font(28px, 1.17, 700, 0.03em);
            text-align: center;
        }

.section-coworker__pic {
    // display: flex;
    justify-content: space-between;
}

.section-coworker__icon {
    width: 170px;
    height: 92px;
    /* padding: 16px 32px; */
    margin-left: 30px;

    // &:first-child {
    //     margin-left: 0;
    // }
}

.section-coworker__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;

    transition-property: border-color, fill;
    &:hover,
    &:focus {
            fill: var(--accent-hover-color);
            border-color: var(--accent-hover-color);
        }
}


// @media screen and (max-width: $mobile-width) {

// }

@media screen and (min-width: 480px) {
.section-coworker__icon {      
        flex-basis: calc((100% - 30px) / 2);
    }
}

@media screen and (min-width: 768px) {
    .section-coworker__icon {
        flex-basis: calc((100% - 60px) / 3);
    }
}

@media screen and (min-width: 1200px) {
    .section-coworker__icon {
        flex-basis: calc((100% - 150px) / 6);
    }
}
// .section__title {
//     margin-bottom: 50px;
//     @include font(36px, 1.17, 700, 0.03em);
//     // font-size: 36px;
//     // line-height: 1.67;
//   }


// .section-coworker__pic {
//     justify-content: center;
// }