     /*--------------------- Секція 4 -----------------------*/
      .section__title {
         margin-bottom: 30px;

         color: var(--primary-text-color);
@include font(28px, 1.17, 700, 0.03em);
         text-align: center;
     }

         @media screen and (min-width: 1200px) {
        .section-works .section__title {
            margin-bottom: 50px;
              @include font(36px, 1.67, 700, 0.03em);
             }         
      }

     .section-works__pictures {
      display: flex;
      flex-wrap: wrap;
        //  margin: -15px;
        gap: 30px;
        .title {
                margin-bottom: 10px;
                // color: var(--primary-text-color);
        @include font(16px, 1.18, 500, 0.03em);
                text-align: center;
            }
                        .text {
                            color: var(--title-text-color);
                @include font(null, 1.18, null, 0.03em);                         
                            text-align: center;                           
                            margin-bottom: 16px;
                        }
     }

     @media screen and (min-width: 1200px) {
             .section-works .section-works__pictures {
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 flex-wrap: inherit;
              }
         }

     .section-works__image {
        flex-basis: 100%;
        //  margin: 15px;
         list-style: none;
         background-color: var(--primary-white-color);
         box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
         border-radius: 0px 0px 4px 4px;
     }

     .team-box {
         padding: 30px 0;
     }

     .team-box__userpic {
         display: flex;
         justify-content: center;
         gap: 10px;
         padding: 0;
     }

     .team-box__userpic-item {
         width: 44px;
         height: 44px;
         border-radius: 50%;
         /* background-color: #2196F3; */
         display: flex;
         align-items: center;
         justify-content: center;
     }

     .team-box__userpic-link {
         width: 100%;
         height: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
         border-radius: 50%;
         fill: #AFB1B8;

         transition-property: fill;
         transition-property: background-color;
        &:hover,
        &:focus {
                fill: var(--primary-white-color);
                background-color: var(--accent-hover-color);
            }
     }
/* Фон для  секціi 4 */
     .section-works {
         background: var(--background-darker-than-white);
     }


     
@media screen and (min-width: 768px) {
  .section-works__image {
    flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .section-works {
    padding: 94px 0;
  }
  .section-works__image {
    flex-basis: calc((100% - 3 * 30px) / 4);
  }
  // .section__title {
  //   margin-bottom: 50px;
  //   @include font(36px, 1.67, 700, 0.03em);    
  // }
}