     /* Секція 3 */
     .section__title {
         margin-bottom: 50px;

         color: var(--primary-text-color);
@include font(36px, 1.17, 700, 0.03em);
         text-align: center;
     }

     .section__list2 {
        //  display: flex;
         margin: -15px;
         /* gap: 30px; */
         position: relative;
     }

     .section-product {
         position: relative;
         display: flex;
         /* outline: 5px solid palevioletred; */
     }

     .product {
         position: absolute;
         width: 100%;
         /* height: 70px; */
         background: rgba(47, 48, 58, 0.8);
         bottom: 0;
        .product__actions {              
                display: flex;
                justify-content: center;
                align-items: center;
                height: 70px;
        
                color: #FFFFFF;
        @include font(14px, 1.14, 700, 0.03em);
                font-style: normal;
                text-align: center;
                text-transform: uppercase;
            }
     }
     .section__item2 {
         margin: 15px;
     }

@media screen and (min-width: 1200px) {
    .page {
        display: flex;
    }
}